

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #1C1C3B 50%, #48E5E4 50%);
}

.login-form {
    background-color: #1C1C3B;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h1 {
    color: #ffffff;
    margin-bottom: 1rem;
    font-size: 2rem;
    text-align: center;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-group label {
    color: #ffffff;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    display: block;
}

.form-group input {
    width: 100%;
    padding: 0.8rem;
    border-radius: 5px;
    border: 2px solid #ffffff;
    background-color: #1C1C3B;
    color: #ffffff;
    font-size: 1rem;
}

.form-group input::placeholder {
    color: #bfbfbf;
}

.form-group input:focus {
    outline: none;
    border-color: #48E5E4;
}

.btn-submit {
    width: 100%;
    padding: 0.8rem;
    border-radius: 5px;
    background-color: #48E5E4;
    color: #ffffff;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: #3FCED3;
}
